html, body {
  margin: 0;
  /* height: 100%; */
  /* overflow: hidden; */
  height: 768px;
  min-height: 768px;
  white-space: nowrap;
}

body {
    background:grey;
    font-family: Tahoma, sans-serif;
}

.page-wrap {
    width: 1024px;
    /* height: 100%; */
    margin: 0 auto 0 auto;
    border-left: solid;
    border-right: solid;
}

#app-parent {
    position:relative;
    /* XGA Resolution */
    width: 1024px;
    /* height: 768px; */
    height: 728px;  /* image scaling error... */
    /* height: 100%; */
    margin: 0 auto 0 auto;

    border-bottom: solid;
}

.console-message {
    color: greenyellow;
}
