html, body {
  margin: 0;
  /* height: 100%; */
  /* overflow: hidden; */
  /* height: 768px; */
  /* min-height: 768px; */
  white-space: nowrap;

  height: 100%;
  width: 100%;
}

body {
    background:grey;
    font-family: Tahoma, sans-serif;
}

.page-wrap {
    width: 1024px;
    /* height: 100%; */
    margin: 0 auto 0 auto;
    border-left: solid;
    border-right: solid;
}

#app-parent {
    position:relative;
    border-bottom: solid;
    height: 100%;
}

.console-message {
    color: greenyellow;
}
