node_modules/
dbmodels/
backend/secrets/
secrets/
.env.local
.env.prod
**/terraform.tfstate
**/terraform.tfstate.backup
cloud_infrastructure/tf/.terraform/
pax-imperia-js/assets/ships/Textures/
pax-imperia-js/assets/ships/Meshes/
