
.flex-container {
    display: flex;
}
.planet-list {
    padding: 20px;
    margin: 20px;
}

/*div#canvas-div canvas {cursor: none;}*/




/* HDMI */

.console-message {
    background-color: black;
    color: greenyellow;
    width: 800px;
    height: 1em;
}