
#app-parent {
    width: 1050px;
}

.flex-container {
    display: flex;
    /* border: solid; */
    width: 100%;
}

#planet-list {
    background: grey;
    flex-grow:1;
    padding: 20px;
    margin: 0px;
    width: 150px;
}

/* #planet-list ul { 
    width: 150px;
} */

#canvas-holder {
    /* flex-grow:3; */
    width: 800px;
    background: green;
}


#console-div {
    background-color: black;
    width: 1050px;
}

.console-message {
    color: greenyellow;
    height: 1em;
}

#lower-console {
    background:red;
    height: 200px;
}