.user-card {
  position: absolute;
  top: 20px;
  right: 20px;

  background: #ccc;
  width: 200px;
  height: 60px;
}

.user-card img {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
  margin-left: 4px;
}

.user-card::after {
  clear: both;
}

/* .user-card .MuiCircularProgress-svg {
  fl
} */
